body {
  margin: 0;
}

/* Header of the page */
header {
  height: 94px;
  background: #fff;
  border: 1px solid black;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.471);
  z-index: 10;
}

/* Flexbox container for header elements */
.header-content {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: space-between; /* Distribute space evenly */
  padding: 0 20px; /* Add some padding for spacing */
  height: 100%;
}

/* Logo styling */
.logo-container img {
  width: 100px;
  margin-right: 10px;
}

/* Welcome heading styling */
header h1 {
  flex-grow: 1; /* Allow the welcome text to grow and occupy available space */
  text-align: center;
  font-family: Lateef;
  margin: 0;
}

/* Navigation styling */
header .header-nav {
  display: flex;
  align-items: center; /* This ensures all elements (icons) are aligned vertically */
}

/* Notification icon */
#notify {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  margin-top: 10px;
}

/* Logout button */
#lout {
  background-color: rgb(239, 86, 69);
  color: whitesmoke;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-family: Lateef;
  margin-top: 6px;
}

#lout:hover,
#lout:focus {
  background-color: #e61818;
}

/* Profile Icon Styling */
.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-top: 9px;
}

.profile-icon img:hover {
  transform: scale(1.1);
}

.breadcrumb-container {
  background-color: rgb(209, 227, 235);
  padding: 2px 10px; /* Adjust padding for a thin row */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for separation */
  border-radius: 0px; /* Optional: Adds rounded corners */
  margin-bottom: 0; /* Space below the breadcrumb row */
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns content to the left */
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 18px; /* Font size */
  font-weight: 600; /* Adjust this value for thickness */
  color: #666;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.breadcrumb-logo .logo {
  height: 40px; /* Adjust logo size */
  width: auto;
  margin-right: 10px;
  transition: transform 0.3s;
}

.breadcrumb-logo:hover .logo {
  transform: scale(1.1);
}

.breadcrumb-link {
  text-decoration: none;
  color: #666;
  transition: color 0.3s;
}

.breadcrumb-link:hover {
  color: #d0a33b;
}

.breadcrumb-separator {
  margin: 0 8px;
  color: #bbb;
}

.breadcrumb-link.active {
  color: #000;
  font-weight: bold;
  pointer-events: none;
  cursor: default;
}
