* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/background.jpg");
}

.ticket-form-container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
}

.ticket-form-container header {
    font-size: 30px;
    color: black;
    font-weight: 600;
    text-align: center;
}

.ticket-form-container p {
    font-size: 15px;
    color: #333;
    font-weight: 100;
    text-align: center;
}

.ticket-form .form-group {
    width: 100%;
    margin-top: 20px;
}

.form-group label {
    color: black;
}

.ticket-form .form-group input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    padding: 0 15px;
}

.ticket-form .form-group select {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    padding: 0 15px;
    background-color: white;
}
.ticket-form .form-group textarea {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    padding: 0 15px;
    background-color: white;
}

.dont {
    text-align: center;
    margin-top: 25px;
}

.dont a {
    color: #d0a33b;
}

.submit-button {
    height: 55px;
    width: 100%;
    background-color: #d0a33b;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.2s ease;
}

.submit-button:hover {
    background-color: rgb(88, 56, 250);
}

@media screen and (max-width: 500px) {
    .ticket-form .form-group {
        flex-wrap: wrap;
    }
}
